.contacts {
  position: relative;

  flex-grow: 1;
  padding-bottom: 80px;
  padding-left: 675px;
}

.contacts__form {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  max-width: 580px;
  margin: 0;
  padding-top: 47px;
  padding-right: 75px;
  padding-bottom: 37px;
  padding-left: 75px;

  background-color: white;
}

.contacts__form-title {
  width: 100%;
  max-width: 100%;
  margin: 0;
  margin-bottom: 36px;

  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  word-wrap: break-word;
}

.contacts__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 28px;
  padding-right: 30px;
}

.contacts__input {
  width: 100%;
  max-width: 100%;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  padding-bottom: 14px;

  font-size: 20px;
  line-height: 50px;
  color: black;

  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #cccccc;

  &--name {
    margin-right: auto;
  }

  &--name,
  &--phone {
    max-width: 178px;
  }

  &--email {
    margin-bottom: 37px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: black !important;

    opacity: 1;
  }
}

.contacts__info {
  width: 100%;
  max-width: 100%;
  margin: 0;
  margin-bottom: 38px;

  font-size: 12px;
  line-height: 1.5;
  font-family: "Roboto";
  text-align: center;
  color: rgba(0, 0, 0, 0.502);

  a {
    padding-bottom: 4px;

    border-bottom: 1px dotted black;
  }
}

.contacts__submit {
  min-width: 230px;
  min-height: 60px;
  margin: 0 auto;

  font-size: 25px;
  letter-spacing: 0.4px;
}

.contacts__list {
  position: relative;
  top: -7px;

  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__item {
  width: 100%;
  max-width: 100%;
  margin-bottom: 45px;

  &:nth-of-type(2) {
    margin-bottom: 36px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  span {
    display: block;
    max-width: 100%;
    padding-left: 30px;

    font-size: 13px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0;
    word-wrap: break-word;
  }
}

.contacts__link {
  position: relative;

  display: block;
  max-width: 100%;
  padding-left: 30px;

  font-size: 16px;
  line-height: 26px;
  word-wrap: break-word;

  &::before {
    content: "";
    position: absolute;

    display: block;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--adress {
    &::before {
      top: 4px;
      left: 1px;

      width: 12px;
      height: 15px;

      background-image: url("../img/icons/contact-adress.svg");
    }
  }

  &--email {
    &::before {
      top: 10px;
      left: 1px;

      width: 16px;
      height: 11px;

      background-image: url("../img/icons/contact-email.svg");
    }
  }

  &--phone {
    &::before {
      top: 8px;
      left: 0;

      width: 14px;
      height: 13px;

      background-image: url("../img/icons/contact-phone.svg");
    }
  }
}

@media screen and (max-width: $desktop-width) {
  .contacts {
    padding-bottom: 48px;
    padding-left: 454px;
  }

  .contacts__form {
    left: 2px;

    max-width: 412px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
  }

  .contacts__form-title {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 36px;
  }

  .contacts__wrapper {
    margin-bottom: 12px;
    padding-right: 0;
    padding-left: 2px;
  }

  .contacts__input {
    margin-bottom: 18px;
    padding-bottom: 14px;

    font-size: 14px;
    line-height: 36px;

    &--name {
      max-width: 117px;
    }

    &--phone {
      max-width: 151px;
    }

    &--email {
      margin-bottom: 18px;
    }
  }

  .contacts__info {
    margin-bottom: 30px;

    font-size: 10px;
    line-height: 12px;

    a {
      padding-bottom: 1px;
    }
  }

  .contacts__submit {
    min-width: 164px;
    min-height: 43px;

    font-size: 16px;
    line-height: 1;
  }

  .contacts__list {
    top: 0;
  }

  .contacts__item {
    margin-bottom: 47px;

    &:nth-of-type(2) {
      margin-bottom: 36px;
    }

    span {
      font-size: 12px;
    }
  }

  .contacts__link {
    font-size: 14px;
  }
}
