.features {
  position: relative;
  z-index: 5;

  width: 100%;
  max-width: 100%;
}

.features__wrapper {
  padding-bottom: 78px;

  @include wrapper;
}

.features__text {
  display: none;
}

.features__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  margin: 0;

  list-style: none;
}

.features__item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  padding-top: 94px;

  &:nth-of-type(2) {
    margin: 0 auto;
  }

  span {
    display: inline-block;
    width: 100%;
    max-width: 100%;

    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    word-wrap: break-word;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;

    display: block;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translateX(-50%);
    opacity: 0.7;
  }

  &--guarantee {
    &::before {
      top: 4px;

      width: 62px;
      height: 64px;

      background-image: url("../img/icons/feature-like.svg");
    }
  }

  &--quality {
    padding-right: 16px;
    padding-left: 16px;

    &::before {
      top: 20px;

      width: 74px;
      height: 49px;

      background-image: url("../img/icons/feature-handshake.svg");
    }
  }

  &--production {
    &::before {
      top: 0;

      width: 70px;
      height: 69px;

      background-image: url("../img/icons/feature-settings.svg");
    }
  }
}

.features__dots {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.feature__dot {
  width: 8px;
  height: 8px;
  margin: 0 2.5px;
  padding: 0;

  font-size: 0;

  background-color: #dddddd;
  border: 0;
  border: 0;
  border-radius: 50%;

  &--active {
    background-color: #00ffd7;
  }
}

@media screen and (max-width: $desktop-width) {
  .features__wrapper {
    padding: 0 4px;
    padding-top: 69px;
    padding-bottom: 50px;
  }

  .features__list {
    justify-content: space-between;
    align-items: stretch;
    max-width: 724px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 0;
  }

  .features__item {
    position: relative;
    z-index: 2;

    justify-content: space-between;
    align-items: flex-start;
    max-width: 228px;
    min-height: 163px;
    padding-top: 95px;
    padding-bottom: 16px;

    background-color: white;
    box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);

    span {
      font-size: 12px;
      line-height: 16px;
      color: black;

      opacity: 0.72;
    }

    &:nth-of-type(2) {
      margin: 0;
    }

    &::before {
      top: auto;
      bottom: calc(100% - 90px);

      opacity: 0.3;
    }

    &--guarantee {
      padding-right: 16px;
      padding-left: 16px;

      &::before {
        background-image: url("../img/icons/feature-like-dark.svg");
      }
    }

    &--quality {
      padding-right: 45px;
      padding-left: 45px;

      &::before {
        background-image: url("../img/icons/feature-handshake-dark.svg");
      }
    }

    &--production {
      padding-right: 20px;
      padding-left: 20px;

      &::before {
        background-image: url("../img/icons/feature-settings-dark.svg");
      }
    }

    &--active {
      z-index: 3;

      transform: scale(1.227);

      &::before {
        opacity: 0.7;
      }

      span {
        opacity: 1;
      }
    }
  }

  .features__dots {
    display: flex;
  }
}

@media screen and (max-width: $tablet-width) {
  .features {
    padding-top: 36px;
  }

  .features__wrapper {
    padding: 0 20px;
  }

  .features__text {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    margin-bottom: 42px;
    padding: 0 4px;

    font-size: 12px;
    line-height: 18px;
  }

  .features__list {
    max-width: 100%;
    margin-bottom: 6px;
  }

  .features__item {
    display: none;
    max-width: 280px;
    min-height: 200px;
    padding-top: 116px;
    padding-right: 60px;
    padding-left: 60px;

    border: 1px solid rgb(221, 221, 221);
    box-shadow: none;

    &:nth-of-type(n) {
      margin: 0 auto;
    }

    span {
      font-size: 14px;
      line-height: 19px;
    }

    &::before {
      bottom: calc(100% - 95px);

      transform: translateX(-50%) scale(1.2);
    }

    &--active {
      display: flex;

      transform: none;
    }
  }

  .feature__dot {
    width: 6px;
    height: 6px;

    &--active {
      width: 8px;
      height: 8px;
    }
  }
}
