.main-footer {
  width: 100%;
  max-width: 100%;

  color: white;

  background-color: #000000;
}

.main-footer__wrapper {
  padding-top: 64px;
  padding-bottom: 45px;

  @include wrapper;
}

.main-footer__subwrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  margin-bottom: 72px;
}

.main-footer__outro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 200px;
  margin-right: 95px;
}

.main-footer__logo {
  margin-bottom: 44px;
}

.main-footer__logo-image {
  width: 141px;
  height: 60px;
}

.main-footer__owner {
  max-width: 100%;
  margin-bottom: 50px;

  font-size: 16px;
  line-height: 38px;
  word-wrap: break-word;
}

.main-footer__rights {
  width: 100%;
  max-width: 100%;

  p {
    width: 100%;
    max-width: 100%;
    margin: 0;

    font-size: 10px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.4px;
    word-wrap: break-word;

    opacity: 0.25;
  }
}

.main-footer__menu {
  display: none;
}

@media screen and (max-width: $desktop-width) {
  .main-footer__wrapper {
    max-width: 640px;
    padding-top: 24px;
    padding-right: 0;
    padding-bottom: 18px;
    padding-left: 0;
  }

  .main-footer__subwrapper {
    flex-wrap: wrap;
    margin-bottom: 17px;
  }

  .main-footer__contacts {
    margin-bottom: 52px;
  }

  .main-footer__outro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    order: 2;
    max-width: 100%;
    margin: 0;
    padding-bottom: 30px;

    border-bottom: 1px solid #1a1a1a;
  }

  .main-footer__logo {
    display: none;
  }

  .main-footer__owner {
    margin: 0;

    font-size: 12px;
    line-height: 1.3;
    color: rgba(255, 255, 254, 0.502);
  }

  .main-footer__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    margin: 0;
    margin-left: 52px;
    margin-right: auto;
    padding: 0;

    list-style: none;
  }

  .main-footer__item {
    margin-right: 37px;

    &:last-of-type {
      margin: 0;
    }
  }

  .main-footer__link {
    max-width: 100%;
    word-wrap: break-word;

    font-size: 12px;
    line-height: 1.3;
    color: rgba(255, 255, 254, 0.502);
  }
}
