.partners {
  width: 100%;
  max-width: 100%;
  margin-bottom: 128px;
}

.partners__wrapper {
  position: relative;

  overflow: hidden;

  @include wrapper;
}

.partners__block-title {
  margin-bottom: 42px;
}

.partners__slider {
  left: -1px;

  width: 100%;
  max-width: 100%;
  overflow: visible;
}

.partners__slide {
  max-width: 270px;
  height: 135px;

  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(215, 215, 215, 0.5);

  &:last-of-type {
    margin-right: 0;
  }

  a {
    &:focus {
      outline: none;
    }

    &:focus,
    &:hover,
    &:active {
      .partners__logo {
        opacity: 1;
      }
    }
  }

  picture {
    width: 100%;
    height: 100%;
  }
}

.partners__logo {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  background-color: white;
  opacity: 0.5;

  transition: opacity 0.3s ease-in-out;

  @include object-fit(contain, center);
}

.partners__controls {
  position: absolute;
  top: 0;
  right: 15px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 50px;

  background-color: $bg-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;

    display: block;
    width: 37px;
    height: 100%;

    background-color: $bg-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    top: 50%;
    right: 100%;
    left: 50%;
    z-index: 1;

    display: block;
    width: 1px;
    height: 8px;

    background-color: rgb(36, 36, 36);
    transform: translateX(-50%) translateY(-50%);
  }
}

.partners__button {
  width: 58px;
  min-height: 34px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 27px center;
  background-size: 16px 6px;
  border: 2px solid rgb(36, 36, 36);
  cursor: pointer;

  transition: background-color 0.3s ease-in-out;

  &--previous {
    border-left: 0;
    transform: rotate(180deg);
  }

  &--next {
    border-left: 0;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover,
  &:active {
    background-color: rgba(0, 255, 215, 0.3);
  }
}

.partners__dots {
  display: none;
}

.swiper-pagination {
  display: none;
}

@media screen and (max-width: $desktop-width) {
  .partners {
    margin-bottom: 66px;
  }

  .partners__block-title {
    margin-bottom: 47px;
  }

  .partners__slider {
    max-width: 724px;
    margin: 0 auto;
    padding-bottom: 32px;

    .swiper-slide {
      opacity: 0;

      transition: all 0.3s ease-in-out;

      &-prev,
      &-active,
      &-next {
        opacity: 1;
      }

      &-prev {
        z-index: 6;
      }

      &-active {
        z-index: 5;

        transform: scale(1.227);
      }

      &-next {
        z-index: 4;
      }
    }
  }

  .partners__slide {
    max-width: 256px;
    height: 163px;

    background-color: white;
    border: 0;
    box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);
    opacity: 1;
  }

  .partners__controls {
    position: static;

    width: 100%;
    max-width: 100%;
    min-height: 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .partners__logo {
    opacity: 0.5;
  }

  .partners__button {
    display: none;
  }

  .swiper-pagination {
    bottom: 0 !important;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 2.5px;
    padding: 0;

    font-size: 0;

    background-color: #dddddd;
    border: 0;
    border-radius: 50%;
    opacity: 1;

    &:focus {
      outline: none;
    }

    &-active {
      width: 8px;
      height: 8px;

      background-color: #00ffd7;
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .partners {
    margin-bottom: 46px;
  }

  .partners__block-title {
    margin-bottom: 20px;
  }

  .partners__slider {
    max-width: 280px;
    padding-bottom: 20px;

    .swiper-slide {
      &-prev {
        opacity: 0;
      }

      &-active {
        transform: none;
      }

      &-next {
        opacity: 0;
      }
    }
  }

  .partners__slide {
    max-width: 280px;
    height: 134px;

    border: 1px solid rgb(215, 215, 215);
    box-shadow: none;
  }
}
