.projects {
  width: 100%;
  max-width: 100%;
  margin-bottom: 110px;
}

.projects__wrapper {
  @include wrapper;
}

.projects__block-title {
  margin-bottom: 35px;
}

.projects__pool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
}

.projects__single-project {
  margin-bottom: 3px;
}

@media screen and (max-width: $desktop-width) {
  .projects__block-title {
    margin-bottom: 41px;
  }

  .projects__single-project {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: $desktop-width) {
  .projects__block-title {
    margin-bottom: 15px;
  }
}
