.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 30px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social-link {
  display: block;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;

  transition: opacity 0.3s ease-in-out;

  &--vk {
    width: 35px;
    height: 21px;

    background-image: url("../img/icons/social-vk.svg");
  }

  &--tw {
    width: 27px;
    height: 21px;

    background-image: url("../img/icons/social-tw.svg");
  }

  &--fb {
    width: 14px;
    height: 26px;

    background-image: url("../img/icons/social-fb.svg");
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover,
  &:active {
    opacity: 1;
  }
}

@media screen and (max-width: $desktop-width) {
  .social {
    padding-top: 8px;
  }

  .social__item {
    margin-right: 18px;
  }

  .social-link {
    &--vk {
      width: 22px;
      height: 14px;
    }

    &--tw {
      width: 17px;
      height: 14px;
    }

    &--fb {
      width: 9px;
      height: 16px;
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .social {
    width: 100%;
    padding: 0 20px;
  }

  .social__item {
    margin-right: 32px;
  }

  .social-link {
    &--vk {
      width: 40px;
      height: 24px;
    }

    &--tw {
      width: 31px;
      height: 26px;
    }

    &--fb {
      width: 15px;
      height: 29px;
    }
  }
}
