@mixin wrapper {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (max-width: $desktop-width) {
    max-width: 100%;
    padding-right: 22px;
    padding-left: 22px;
  }

  @media screen and (max-width: $tablet-width) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    font-family: "object-fit: #{$fit}; object-position: #{$position}";

    -o-object-position: $position;
    object-position: $position;
  } @else {
    font-family: "object-fit: #{$fit}";
  }
}
